<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABN inter</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="style/style.css" />
    >
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar__logo">
        <a href="#">
          <img src="img/logo.png" alt="" />
        </a>
      </div>
      <div class="sidebar__sn">
        <a href="#">
          <img src="img/socialFb.svg" alt="Facebook" />
        </a>
        <a href="#">
          <img src="img/socialInsta.svg" alt="Instagram" />
        </a>
      </div>
      <a class="errorHomeHref" href="/">Домой</a>
    </div>
    <div class="content">
      <div class="fullBlock fullBlock__404">
        <div class="fullblock__error">
          <div class="fullblockc__error__text">
            <p class="content__title">ОШИБКА 404</p>
            <p class="content__text">Страница не найдена</p>
          </div>
          <div class="fullblockc__error__img">
            <img src="img/404/404Vector.png" alt="" />
          </div>
        </div>
        <div class="footer">
          <p>
            © 2021 <a href="https://itd.company/portfolio/">ITD Company.</a> All
            rights reserved
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
